:root {
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: #b0b0b0;
  --background-color: #242424;
  --accent-color: #404040;
  --highlight-color: white;
  --danger-color: #dc3545;
  --danger-hover-color: #c82333;
  --hover-background: rgba(0, 0, 0, 0.3);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
  --input-border-color: #404040;
  --input-focus-border-color: white;

  --new-todo-background: #ffeb3b;
  --active-todo-background: #00bcd4;
  --completed-todo-background: #8bc34a;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}