.description {
    width: 80%;
    max-width: 500px;
    border: 1px solid var(--input-border-color);
    padding: 0.5rem;
    height: 80%;
    resize: none;
    background: none;
    color: var(--highlight-color);
}

.description:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.descriptionGroup {
    flex: 0 0 50%;
}

.button {
    align-self: center;
}